
1. Implement a program that requests the current temperature in degrees Fahrenheit from the
user and prints the temperature in degrees Celsius usi'g the formula

celsius =5/9*(fahrenheit-32)

Your program should execute as follows:
>>>
Enter the temperature in degrees Fahrenheit: 50
The temperature in degrees Celsius is 10.0

In [1]:
fahrenheit=eval(input('Enter the temperature in degrees Fahrenheit: '))
print('Enter the temperature in degrees Fahrenheit:',fahrenheit)
celsius =5/9*(fahrenheit-32)
print('The temperature in degrees Celsius is:',celsius)

Enter the temperature in degrees Fahrenheit: 50
The temperature in degrees Celsius is: 10.0

2. Translate these conditional statements into Python if statements:
(a) If age is greater 62, print 'You can get your pension benefits'.
(b) If name is in list ['Musial', 'Aaraon', 'Williams', 'Gehrig', 'Ruth'],
print 'One of the top 5 baseball players, ever!'.
(c) If hits is greater than 10 and shield is 0, print 'You are dead...'.
(d) If at least one of the Boolean variables north, south, east, and west is True, print
'I can escape.'.

In [3]:
#(a) 
age=77
if age > 62:
    print('you can get your pension benefits')

you can get your pension benefits

In [14]:
#(b)
name='Musial'
list=['Musial', 'Aaraon', 'Williams', 'Gehrig', 'Ruth']
if name in list:
    print('One of the top 5 baseball players, ever!')

One of the top 5 baseball players, ever!

In [15]:
#(c)
hits=15
shield=0
if shield==0 and hits>10:
    print('You are dead...')

You are dead...

In [ ]:
#(d)

3. Translate these into Python if/else statements:
(a) If year is divisible by 4, print 'Could be a leap year.'; otherwise print 'Definitely not
a leap year.'
(b) If list ticket is equal to list lottery, print 'You won!'; else print 'Better luck next
time...'

In [16]:
#a
year=2024
if year%4==0:
    print('Could be a leap year.')
else:
    print('Definitely not a leap year.')

Could be a leap year.

In [17]:
#b
ticket=[0,1,3,4]
lottery=[6,7,0,3]
if ticket==lottery:
    print('You won!')
else:
    print('Better luck next time...')

Better luck next time...

4. Implement a program that starts by asking the user to enter a login id (i.e., a string). The program then checks whether the id entered by the user is in the list ['joe', 'sue','hani', 'sophie'] of valid users. Depending on the outcome, an appropriate message should be printed. Regardless of the outcome, your function should print 'Done.' before
terminating. Here is an example of a successful login:
>>>
Login: joe
You are in!
Done.
And here is one that is not:
>>>
Login: john
User unknown.
Done.

In [18]:
user=input('Enter the id entered by the user: ')
list=['joe', 'sue','hani', 'sophie']
print('Login:',user)
if user in list:
    print('You are in!')
    print('Done')
else:
    print('User unknown.')
    print('Done')

Login: joe
You are in!
Done

5. Implement a program that requests from the user a list of words (i.e., strings) and then prints
on the screen, one per line, all four-letter strings in the list.
>>>
Enter word list: ['stop', 'desktop', 'top', 'post']
stop
post

In [19]:
Lst=eval(input('enter the list: '))
print('Enter word list:',Lst)
for x in Lst:
    if len(x)==4:
       print(x)

Enter word list: ('stop', 'desktop', 'top', 'post')
stop
post

6. Write the for loop that will print these sequences of numbers, one per line, in the interactive
shell.
(a) Integers from 0 to 9 (i.e., 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(b) Integers from 0 to 1 (i.e., 0, 1)

In [ ]:
#a
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(2):
    print(i)

0
1

7. Write the for loop that will print the following sequences of numbers, one per line.
(a) Integers from 3 up to and including 12
(b) Integers from 0 up to but not including 9, but with a step of 2 instead of the default
of 1 (i.e., 0, 2, 4, 6, 8)
(c) Integers from 0 up to but not including 24 with a step of 3
(d) Integers from 3 up to but not including 12 with a step of 5

In [22]:
#a
for i in range(3,13):
    print(i)

3
4
5
6
7
8
9
10
11
12

In [23]:
#b
for i in range(0,9,2):
    print(i)

0
2
4
6
8

In [24]:
#c
for i in range(0, 25,3):
    print(i)

0
3
6
9
12
15
18
21
24

In [25]:
#d
for i in range(3,12,5):
    print(i)

3
8

8. Define, directly in the interactive shell, function perimeter() that takes, as input, the ra-
dius of a circle (a nonnegative number) and returns the perimeter of the circle. A sample

usage is:
>>> perimeter(1)
6.283185307179586
>>> perimeter (2)
12.566370614359172
Remember that you will need the value of π (defined in module math) to compute the
perimeter.

In [26]:
def f(x):
    return x**2+1
f(2)

5

In [27]:
import math
def p(r):
    return math.pi * r**2
p(2)

12.566370614359172

9. Implement function average() that takes two numbers as input and returns the average of
the numbers. You should write your implementation in a module you will name average.py.
A sample usage is:
>>> average(1,3)
2.0
>>> average(2, 3.5)
2.75

In [26]:
def avg(x,y):
    'this function calculate the average of two number'
    return (x+y)/2
avg(1,3)

2.0

In [27]:
help(avg)

Help on function avg in module __main__:

avg(x, y)
    this function calculate the average of two number

In [61]:
def avg(x,y):
    return (x+y)/2
avg(2,3.5)

2.75

10.  function noVowel() that takes a string s as input and returns True if no char-
acter in s is a vowel, and False otherwise (i.e., some character in s is a vowel).

>>> noVowel('crypt')
True
>>> noVowel('cwm')
True
>>> noVowel('car')Implement
False

In [ ]:
s=input('enter the string: ')
def noVowel(s):
    for i in s:
        if i in 'aeiou':
              return False 
    else:
        return True
noVowel(s)

False

11. Implement function allEven() that takes a list of integers and returns True if all integers
in the list are even, and False otherwise.
>>> allEven([8, 0, -2, 4, -6, 10])
True
>>> allEven([8, 0, -1, 4, -6, 10])
False

In [ ]:

def allEven(list):
    for i in list:
        if i%2==0:
            return True
    else:
        return False
allEven(list)

True

In [ ]:
list=[8, 0, -1, 4, -6, 10]
def allEven(list):
    for i in list:
        if i%2!=0:
            return False
    else:
        return True
allEven(list)

False

In [56]:
list=[8, 0, -2, 4, -6, 10]
def allEven(list):
    for i in list:
        if i%2!=0:
            return False
    else:
        return True
allEven(list)

True

12. Write function negatives() that takes a list as input and prints, one per line, the negative
values in the list. The function should not return anything.
>>> negatives([4, 0, -1, -3, 6, -9])
-1
-3
-9

In [58]:
list=[4, 0, -1, -3, 6, -9]
def negatives():
    for i in list:
        if i<0:
            print(i)
negatives()

-1
-3
-9

13. Add appropriate docstrings to functions average() and negatives() from Practice Prob-
lems 9 and 12. Check your work using the help() documentation tool. You should get,

for example:
>>> help(average)
Help on function average in module __main__:
average(x, y)
returns average of x and y

In [24]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

14. Draw a diagram representing the state of names and objects after this execution:
>>> a = [5, 6, 7]
>>> b = a
>>> a = 3

15. Suppose a nonempty list team has been assigned. Write a Python statement or statements
that swap the first and last value of the list. So, if the original list is:
>>> team = ['Ava', 'Eleanor', 'Clare', 'Sarah']
then the resulting list should be:
>>> team
['Sarah', 'Eleanor', 'Clare', 'Ava']

In [30]:
team = ['Ava', 'Eleanor', 'Clare', 'Sarah']
def swap(team):
    team1=team[0]
    team[0]=team[-1]
    team[-1]=team1
swap(team)
team

['Sarah', 'Eleanor', 'Clare', 'Ava']

16. Implement function swapFL() that takes a list as input and swaps the first and last ele-
ments of the list. You may assume the list will be nonempty. The function should not return

anything.
>>> ingredients = ['flour', 'sugar', 'butter', 'apples',]
>>> swapFL(ingredients)
>>> ingredients
['apples', 'sugar', 'butter', 'flour']

In [23]:
ingredients = ['flour', 'sugar', 'butter', 'apples','masala']
def swapFL(ingredients):
    first_element=ingredients[0]
    last_element=ingredients[-1]
    ingredients[0]=last_element
    ingredients[-1]=first_element
swapFL(ingredients)
ingredients

['masala', 'sugar', 'butter', 'apples', 'flour']

In [63]:
#a
eval('2 * 3 + 1')

7

In [64]:
#b
eval('hello')

NameError: name 'hello' is not defined

In [ ]:
#c
eval("'hello' + ' ' + 'world!'")

'hello world!'

In [68]:
#d
eval("'ASCII'.count('I')")

2

In [69]:
#e
eval('x = 5')

SyntaxError: invalid syntax (<string>, line 1)

18. Assume a, b, and c have been defined in the interactive shell as shown:
>>> a, b, c = 3, 4, 5
Within the interactive shell, write if statements that print 'OK' if:
(a) a is less than b.
(b) c is less than b.
(c) The sum of a and b is equal to c.
(d) The sum of the squares a and b is equal to c squared.

In [70]:
a=3
b=4
c=5

In [75]:
#a
if a<b:
    print('OK')

OK

In [76]:
#b
if c<b:
    print('OK')

In [77]:
#c
if (a+b)==c:
    print('Ok')

In [78]:
#d
if (a**2+b**2)==c**2:
    print('OK')

OK

19. Repeat the previous problem with the additional requirement that 'NOT OK' is printed
if the condition is false.

In [80]:
#b
if c<b:
    print('OK')
else:
    print('NOT OK')

NOT OK

In [81]:
#c
if (a+b)==c:
    print('Ok')
else:
    print('NOT OK')

NOT OK

20. Write a for loop that iterates over a list of strings lst and prints the first three char-
acters of every word. If lst is the list ['January', 'February', 'March'] then the

following should be printed:
Jan
Feb
Mar

In [84]:
list= ['January', 'February', 'March']
for i in list:
    print(i[:3])

Jan
Feb
Mar

In [ ]:
21. Write a for loop that iterates over a list of numbers lst and prints the even numbers in the list. For example, if lst is [2, 3, 4, 5, 6, 7, 8, 9], 
then the numbers 2, 4, 6,and 8 should be printed.

In [7]:
list=[2, 3, 4, 5, 6, 7, 8, 9]
for i in list:
    if i%2==0:
        print(i)

2
4
6
8

22. Write a for loop that iterates over a list of numbers lst and prints the numbers in the
list whose square is divisible by 8. For example, if lst is [2, 3, 4, 5, 6, 7, 8, 9],
then the numbers 4 and 8 should be printed

In [1]:
list=[2, 3, 4, 5, 6, 7, 8, 9]
for i in list:
    if i*i%8==0:
        print(i)

4
8

In [ ]:
23. Write for loops that use the function range() and print the following sequences:
(a) 0 1
(b) 0
(c) 3 4 5 6
(d) 1
(e) 0 3
(f) 5 9 13 17 21

In [ ]:
#a
for i in range(2):
    print(i)

0
1

In [5]:
#b
for i in range(1):
    print(i)

0

In [9]:
#c
for i in range(3,7):
    print(i)

3
4
5
6

In [11]:
#d
for i in range(1,2):
    print(i)

1

In [12]:
#e
for i in range(0,4,3):
    print(i)

0
3

In [13]:
#f
for i in range(5,22,4):
    print(i)

5
9
13
17
21

24. Implement a program that requests a list of words from the user and then prints each
word in the list that is not 'secret'.
>>>
Enter list of words: ['cia','secret','mi6','isi','secret']
cia
mi6
isi

In [14]:
list=['cia','secret','mi6','isi','secret']
for i in list:
    if i!='secret':
        print(i)

cia
mi6
isi

25. Implement a program that requests a list of student names from the user and prints
those names that start with letters A through M.
>>>
Enter list: ['Ellie', 'Steve', 'Sam', 'Owen', 'Gavin']
Ellie
Gavi

In [19]:
list=['Ellie', 'Steve', 'Sam', 'Owen', 'Gavin']
for i in list:
    if i[:1]==('E') or i[:1]==('G'):
        print(i)

Ellie
Gavin

26. Implement a program that requests a nonempty list from the user and prints on the
screen a message giving the first and last element of the list.
>>>
Enter a list: [3, 5, 7, 9]
 The first list element is 3
The last list element is 9

In [24]:
list=[3, 5, 7, 9]
list[0]

3

In [34]:
list=[3, 5, 7, 9]
for i in list:
    if i==(list[0]):
        print('The first list element is',i)

for j in list:
    if j==list[-1]:
        print('The last list element is',j)

The first list element is 3
The last list element is 9

In [7]:
list=eval(input('enter a list: '))
for i in list:
    if i==(list[0]):
        print('The first list element is',i)

for j in list:
    if j==list[-1]:
        print('The last list element is',j)                  #doubt

The first list element is 3
The last list element is 9

In [3]:
list=[3, 5, 7, 9]
print('The first list element is',list[0])
print('The last list element is ',list[-1])

The first list element is 3
The last list element is  9

27. Implement a program that requests a positive integer n from the user and prints the
first four multiples of n.
>>>
Enter n: 5
0
5
10
15

In [58]:
n=eval(input('enter a positive integer: '))
print('Entr n:',n)
list=[0,1,2,3]
for i in list:
   print(i*n)

Entr n: 5
0
5
10
15

In [ ]:
28. Implement a program that requests an integer n from the user and prints on the screen
the squares of all numbers from 0 up to, but not including, n.
>>>
Enter n: 3
0
1
4

In [60]:
n=eval(input('enter an nteger: '))
print('enter n:',n)
for i in range(0,n):
    print(i**2)

enter n: 3
0
1
4

29. Implement a program that requests a positive integer n and prints on the screen all the
positive divisors of n. Note: 0 is not a divisor of any integer, and n divides itself.
>>
Enter n: 49
1
7
49

In [70]:
n=eval(input('enter an nteger: '))
print('enter n:',n)
for i in range(1,n+1):
    if n%i==0:
        print(i)

enter n: 49
1
7
49

30.implement a program that requests four numbers (integer or floating-point) from the
user. Your program should compute the average of the first three numbers and compare the
average to the fourth number. If they are equal, your program should print 'Equal' on the
screen.
>>>
Enter first number: 4.5
Enter second number: 3
Enter third number: 3
Enter last number: 3.5
Equal

In [71]:
x=input('enter a number: ')
y=input('enter a number: ')
z=input('enter a number: ')
w=input('enter a number: ')
print('Enter first number:',x)
print('Enter second number:',y)
print('Enter third number:',z)
print('Enter last number:',w)
if x==y==z==w:
    print('equal')

Enter first number: 4
Enter second number: 4
Enter third number: 4
Enter last number: 4
equal

31. Implement a program that requests the user to enter the x and y coordinates (each
between −10 and 10) of a dart and computes whether the dart has hit the dartboard, a circle
with center (0, 0) and radius 8. If so, string It is in! should be printed on the screen.
>>>
Enter x: 2.5
Enter y: 4
It is in

In [85]:
x=eval(input('enter x: '))
y=eval(input('enter y: '))
print('ente x:',x)
print('Enter y:',y)
def dis(x,y):
    if -10<=x<=10 and -10<=y<=10:
        return (x**2+y**2)
dis(x,y)
if dis(x,y)<=64:
    print('It is in')

ente x: 2.5
Enter y: 4
It is in

32. Write a program that requests a positive four-digit integer from the user and prints its
digits. You are not allowed to use the string data type operations to do this task. 
Your program should simply read the input as an integer and process it as an integer, using standard
arithmetic operations (+, *, -, /, %, etc).
>>>
Enter n: 1234
1
2
3
4

In [12]:
n=int(input('Enter a positive four-digit integer: '))
print('Enter n:',n)

d1 = n // 1000           # Thousands place
d2 = (n % 1000) // 100   # Hundreds place
d3 = (n % 100) // 10     # Tens place
d4 = n % 10              # Ones place

print(d1)
print(d2)
print(d3)
print(d4)

Enter n: 1234
1
2
3
4

33. implement function reverse_string() that takes as input a three-letter string and
returns the string with its characters reversed.
>>> reverse_string('abc')
'cba'
>>> reverse_string('dna')
'and

In [156]:
str='abc'
def reverse_string(str):
    output=''
    for i in range(-1,-(len(str)+1),-1):
        output=output+str[i]
    return output
reverse_string(str)

'cba'

In [167]:
str='abc'
def reverse_string(str):
    output=''
    for i in range(len(str)-1,-1,-1):
        output=output+str[i]
    return output
reverse_string(str)

'cba'

In [148]:
str='abc'
output=''
for i in range(-1,len(str),-1):
    print(i)

In [127]:
str='abc'
def reverse_string(str):          
   return str[::-1]
reverse_string(str)

'cba'

In [49]:
str='abc'
len(str)

3

In [107]:
str='abc'
for i in range(0,3):
    i=len(str)
def reverse_string(): 
    for i in range(0,len(str),-1):
        print(i)

In [1]:
str1='abc'
for i in range(len(str1)):
    print(i)

0
1
2

In [36]:
list=[]
for i in range(1,11):
    list.append(i)
list1=[]   
for i in range(0,len(list),2):
    list1.append(list[i])
list1

[1, 3, 5, 7, 9]

In [12]:
list[0:5:2]

[1, 3, 5]

In [8]:
str='1234'
str[0:3]

'123'

In [9]:
str[::-1]

'4321'

34. Implement function pay() that takes as input two arguments: an hourly wage and the
number of hours an employee worked in the last week. Your function should compute and
return the employee’s pay. Any hours worked beyond 40 is overtime and should be paid at
1.5 times the regular hourly wage.
>>> pay(10, 35)
350
>>> pay(10, 45)
475.0

In [104]:
#x=10 #hourly wage
#y=35 #number of hours an employee worked in the last week
def pay(x,y):
    if y<=40:
        return x*y
    else:
        return (x*40)+(x*1.5*(y-40))
pay(10,35)

350

In [ ]:
pay(10,45)

475.0

In [ ]:
35. The probability of getting n heads in a row when tossing a fair coin n times is 2^−n.
Implement function prob() that takes a nonnegative integer n as input and returns the
probability of n heads in a row when tossing a fair coin n times.
>>> prob(1)
0.5
>>> prob(2)
0.25

In [ ]:
def prob(n):
    return 2**(-n)
prob(1)

0.5

In [106]:
prob(2)

0.25

In [ ]:
36. implement function reverse_int() that takes a three-digit integer as input and returns the integer obtained by reversing its digits. 
For example, if the input is 123, your function should return 321. You are not allowed to use the string data type operations to
do this task. Your program should simply read the input as an integer and process it as an
integer using operators such as // and %. You may assume that the input integer does not end with the 0 digit.
>>> reverse_int(123)
321
>>> reverse_int(908)
809

In [10]:
number = 123

def reverse_int(number):
    last_digit= (number%10)
    middle_digit=(number%100)//10
    first_digit=number//100
    reversed_num=last_digit*100+middle_digit*10+first_digit
    return reversed_num
reverse_int(number)

321

In [11]:
reverse_int(456)

654

37. Implement function points() that takes as input four numbers x1, y1, x2, y2 that
are the coordinates of two points (x1, y1) and (x2, y2) in the plane. Your function should
compute:
• The slope of the line going through the points, unless the line is vertical
• The distance between the two points
Your function should print the computed slope and distance in the following format. If the
line is vertical, the value of the slope should be string 'infinity'. Note: Make sure you
convert the slope and distance values to a string before printing them.
>>> points(0, 0, 1, 1)
The slope is 1.0 and the distance is 1.41421356237
>>> points(0, 0, 0, 1)
The slope is infinity and the distance is 1.0

In [29]:
import math
(x1,y1,x2,y2)=(0,0,0,1)
def points(x1,y1,x2,y2):
    d= math.sqrt((x2-x1)**2+(y2-y1)**2)
    if x1==x2:
         print('The slope is infinity and the distance is:',d)

    else:    
        y=(y2-y1)/(x2-x1)
        print('The slope is:',y,'and the distance is:',d)
points(x1,y1,x2,y2)

The slope is infinity and the distance is: 1.0

In [31]:
points(0,0,1,1)

The slope is: 1.0 and the distance is: 1.4142135623730951

38. Implement function abbreviation() that takes a day of the week as input and returns
its two-letter abbreviation.
>>> abbreviation('Tuesday')
'Tu'

In [3]:
def  abbreviation(day):
    return day[:2]
abbreviation('Tuesday')

'Tu'

39. The computer game function collision() checks whether two circular objects colide; 
it returns True if they do and False otherwise. Each circular object will be given by
its radius and the (x, y) coordinates of its center. Thus the function will take six numbers
as input: the coordinates x1 and y1 of the center and the radius r1 of the first circle, and the
coordinates x2 and y2 of the center and the radius r2 of the second circle.
>>> collision(0, 0, 3, 0, 5, 3)
True
>>> collision(0, 0, 1.4, 2, 2, 1.4)
False

In [4]:
import math
def collision(x1,y1,r1,x2,y2,r2):
    if math.sqrt((x2-x1)**2+(y2-y1)**2)<=r1+r2:
        return True
    else:
        return False
collision(0,0,3,0,5,3)

True

In [5]:
collision(0,0,1.4,2,2,1.4)

False

40. Implement function partition() that splits a list of soccer players into two groups.
More precisely, it takes a list of first names (strings) as input and prints the names of those
soccer players whose first name starts with a letter between and including A and M.
>>> partition(['Eleanor', 'Evelyn', 'Sammy', 'Owen', 'Gavin'])
Eleanor
Evelyn
Gavin

In [9]:
def partition(list):
    for i in list:
       if 'A'<= i[0] <= 'M':
           print(i)
partition(['Eleanor', 'Evelyn', 'Sammy', 'Owen', 'Gavin'])

Eleanor
Evelyn
Gavin

41. Write function lastF() that takes as input two strings of the form 'FirstName' and
'LastName', respectively, and returns a string of the form 'LastName, F.'. (Only the
initial should be output for the first name.)
>>> lastF('Albert', 'Camus')
'Camus, A.

In [40]:
FirstName='Albert'
LastName='Camus'

def lastF(FirstName,LastName):
    output=f"{LastName},{FirstName[:1]}"
    return output
print(lastF(FirstName,LastName))

Camus,A

42. Implement function avg() that takes as input a list that contains lists of numbers. Each
number list represents the grades a particular student received for a course. For example,
here is an input list for a class of four students:
[[95, 92, 86, 87], [66, 54], [89, 72, 100], [33, 0, 0]]
The function avg should print, one per line, every student’s average grade. You may assume
that every list of grades is nonempty, but you may not assume that every student has the same
number of grades.
>>> avg([[95, 92, 86, 87], [66, 54], [89, 72, 100], [33, 0, 0]])
90.0
60.0
87.0
11.

In [79]:
grade_lst=[[95, 92, 86, 87], [66, 54], [89, 72, 100], [33, 0, 0]]
def avg(list):
    for i in grade_lst:
        avg=sum(i)/len(i)
        print(avg)
avg(grade_lst)

90.0
60.0
87.0
11.0

43. The computer game function hit() takes five numbers as input: the x and y coordinates of the center and the radius of a circle C, and the x and y coordinates of a point P.
The function should return True if point P is inside or on circle C and False otherwise.
>>> hit(0, 0, 3, 3, 0)
True
>>> hit(0, 0, 3, 4, 0)
False

In [ ]:
def hit(x1,y1,r,x2,y2):
    if (x2-x1)**2+(y2-y1)**2<=r**2:
        return True
    else:
        return False
hit(0, 0, 3, 3, 0)

True

In [3]:
hit(0, 0, 3, 4, 0)

False

44. Write a function distance() that takes as input a number: the time elapsed (in seconds) between the flash and the sound of thunder. 
Your function should return the distance to the lightning strike in kilometers. The speed of sound is approximately 340.29 meters per
second; there are 1000 meters in one kilometer.
>>> distance(3)
1.0208700000000002

In [5]:
#distance= 340.29×t/1000
def distance(t):
    return (340.29*t)/1000
distance(3)

1.0208700000000002