1. Implement function myBMI() that takes as input a person’s height (in inches) and weight
(in pounds) and computes the person’s Body Mass Index (BMI). The BMI formula is:

bmi =weight ∗ 703/(height)^2

Your functions should print the string 'Underweight' if bmi < 18.5, 'Normal' if 18.5 <=
bmi < 25, and Overweight if bmi >= 25.

In [3]:
def myBMI(height, weight):
    bmi = weight * 703 / (height ** 2)
    if bmi < 18.5:
        print("Underweight")
    elif 18.5 <= bmi < 25:
        print("Normal")
    else:
        print("Overweight")
myBMI(45, 80)

Overweight

2. Write a function named powers() that takes a positive integer n as input and prints, on the
screen, all the powers of 2 from 2^1 to 2^n.

>>> powers(6)
2 4 8 16 32 64

In [4]:
def powers(n):
    for i in range(1, n + 1):
        print(2 ** i, end=" ")
powers(6)

2 4 8 16 32 64

3. Write function arithmetic() that takes a list of integers as input and returns True if they

form an arithmetic sequence. (A sequence of integers is an arithmetic sequence if the dif-
ference between consecutive items of the list is always the same.)

>>> arithmetic([3, 6, 9, 12, 15])
True
>>> arithmetic([3, 6, 9, 11, 14])
False
>>> arithmetic([3])
True

In [9]:
def arithmetic(lst):
    if len(lst)==1:
        return True
    d=lst[1]-lst[0]
    for i in range(0, len(lst)-1):
        if lst[i+1]-lst[i]!=d:
            return False
    return True
arithmetic([3, 6, 9, 12, 15])

True

In [10]:
arithmetic([3, 6, 9, 11, 14])

False

In [11]:
arithmetic([3])

True

4. Implement function factorial() that takes as input a nonnegative integer and returns its
factorial. The factorial of a nonnegative integer n, denoted n!, is defined in this way:

n! ={ 1                                          if n = 0
   ={ n × (n − 1) × (n − 2) × ... × 2 × 1        if n > 0

So, 0! = 1, 3! = 6, and 5! = 120.
>>> factorial(0)
1
>>> factorial(3)
6
>>> factorial(5)
120

In [13]:
def factorial(n):
    if n == 0:
        return 1
    con=1
    for i in range(1,n+1):
        con=con*i
    return con
factorial(4)

24

5. An acronym is a word formed by taking the first letters of the words in a phrase and then
making a word from them. For example, RAM is an acronym for random access memory.
Write a function acronym() that takes a phrase (i.e., a string) as input and then returns the
acronym for that phrase. Note: The acronym should be all uppercase, even if the words in
the phrase are not capitalized.
>>> acronym('Random access memory')
'RAM'
>>> acronym('central processing unit')
'CPU'

In [3]:
def acronym(phrase):
    words = phrase.split() 
    print(words)
    string=''
    for word in words:
        string+=word[0].upper()
    return string
acronym('Random access memory')

['Random', 'access', 'memory']

'RAM'

In [9]:
acronym('central processing unit')

['central', 'processing', 'unit']

'CPU'

(eg). Write a function abbreviation(phrase) that takes a phrase and returns the abbreviation, where each word is represented by its first two letters (in uppercase).
>>> abbreviation("machine learning")
'MALE'
>>> abbreviation("data science")
'DASC'

In [6]:
def abbreviation(phrase):
    words=phrase.split()
    s=''
    for word in words:
        s+=word[:2].upper()
    return s
abbreviation("machine learning")

'MALE'

In [8]:
abbreviation("data science")

'DASC'

6. Write function divisors() that takes a positive integer n as input and returns the list of
all positive divisors of n.
>>> divisors(1)
[1]divisors(6)
>>> 
[1, 2, 3, 6]
>>> divisors(11)
[1, 11]

In [13]:
def divisors(n):
    list=[]
    for i in range(1,n+1):
        if n%i==0:
            list.append(i)
    return list
divisors(6)

[1, 2, 3, 6]

In [15]:
divisors(11)

[1, 11]

7. Write a function xmult() that takes two lists of integers as input and returns a list containing
all products of integers from the first list with the integers from the second list.
>>> xmult([2], [1, 5])
[2, 10]
>>> xmult([2, 3], [1, 5])
[2, 10, 3, 15]
>>> xmult([3, 4, 1], [2, 0])
[6, 0, 8, 0, 2, 0]

In [31]:
def xmult(lst1,lst2):
    lst=[]
    for i in lst1:
        for j in lst2:
            mult_num=i*j
            lst.append(mult_num)
    return lst
xmult([2], [1, 5])

[2, 10]

In [32]:
xmult([2, 3], [1, 5])

[2, 10, 3, 15]

In [33]:
xmult([3, 4, 1], [2, 0])

[6, 0, 8, 0, 2, 0]

8. One way to sort a list of n different numbers in increasing order is to execute n − 1 passes
over the numbers in the list. Each pass compares all adjacent numbers in the list and swaps
them if they are out of order. At the end of the first pass, the largest item will be the last in
the list (at index n−1). Therefore, the second pass can stop before reaching the last element,
as it is already in the right position; the second pass will place the second largest item in the
next to last position. In general, pass i will compare pairs at indexes 0 and 1, 1 and 2, 2 and
3, . . . , and i − 1 and i; at the end of the pass, the ith largest item will be at index n − i.
Therefore, after pass n − 1, the list will be in increasing order.
Write a function bubbleSort() that takes a list of numbers as input and sorts the list
using this approach.
>>> lst = [3, 1, 7, 4, 9, 2, 5]
>>> bubblesort(lst)
>>> lst
[1, 2, 3, 4, 5, 7, 9]

In [7]:
lst = [3, 1, 7, 4, 9, 2, 5]
for i in range(len(lst)-1):
    print(i)

0
1
2
3
4
5

In [8]:
len(lst)

7

In [ ]:
def bubbleSort(lst):
    n = len(lst)
    for pass_num in range(n - 1):          
        for i in range(n - 1 - pass_num):  
            if lst[i] > lst[i + 1]:        
                lst[i], lst[i + 1] = lst[i + 1], lst[i]
    print( lst)

lst = [3, 1, 7, 4, 9, 2, 5]
bubbleSort(lst)

Final Sorted List: [1, 2, 3, 4, 5, 7, 9]

selectionSort

(eg). Write a function selectionSort(lst) that sorts a list by repeatedly finding the smallest element in the unsorted portion and putting it at the beginning.
lst = [64, 25, 12, 22, 11]
selectionSort(lst)
Output: [11, 12, 22, 25, 64]

In [17]:
def selectionSort(lst):
    n = len(lst)
    for i in range(n - 1):  
        min_index = i       
        for j in range(i + 1, n):
            if lst[j] < lst[min_index]:
                min_index = j

        if min_index != i:
            lst[i], lst[min_index] = lst[min_index], lst[i]


lst = [64, 25, 12, 22, 11]
selectionSort(lst)
print(lst)

[11, 12, 22, 25, 64]

(eg)Insertion Sort
Implement insertionSort(lst) that builds the sorted list one element at a time by inserting each element into its correct place.
lst = [5, 3, 8, 4, 2]
insertionSort(lst)
Output: [2, 3, 4, 5, 8]

9. Write a function add2D() that takes two two-dimensional lists of same size (i.e., same number of rows and columns) as input arguments and increments every entry in the first list with
the value of the corresponding entry in the second list.
>>> t = [[4, 7, 2, 5], [5, 1, 9, 2], [8, 3, 6, 6]]
>>> s = [[0, 1, 2, 0], [0, 1, 1, 1], [0, 1, 0, 0]]
>>> add2D(t,s)
>>> for row in t:
print(row)
[4, 8, 4, 5]
[5, 2, 10, 3]
[8, 4, 6, 6]

10. Write a function interest() that takes one input, a floating-point interest rate (e.g., 0.06
which corresponds to a 6% interest rate). Your function should compute and return how
long (in years) it will take for an investment to double in value. Note: The number of years
it takes for an investment to double does not depend on the value of the initial investment.
>>> interest(0.07)
11

In [16]:
import math
def interest(r):
    t=math.log(2)/math.log(1+r)
    return round(t)
interest(0.07)

10

In [18]:
def interest(r):
    value = 1          
    years = 0
    while value < 2:   
        value *= (1 + r) 
        years += 1       
    return years
interest(0.07)

11

11. It is known that the precise value of e is equal to this infinite sum:
1
0! +
1
1! +
1
2! +
1
3! +
1
4! +
1
5! + . . .
An infinite sum is impossible to compute. We can get an approximation of e by computing
the sum of the first few terms in the infinite sum. For example, eo =
1
0! = 1 is a (lousy)
approximation for e. The next sum, e1 =
1
0! +
1
1! = 2, is better but still quite bad. The next
one, e2 =
1
0! +
1
1! +
1
2! = 2.5, looks better. The next few sums show that we are heading in
the right direction:
e3 =
1
0! +
1
1! +
1
2! +
1
3! = 2.6666 . . .
e4 =
1
0! +
1
1! +
1
2! +
1
3! +
1
4! = 2.7083 . . .
Now, because, e4 − e3 =
1
4! >
1
5! +
1
6! +
1
7! + . . . , we know that e4 is within 1
4! of the
actual value for e. This gives us a way to compute an approximation of e that is guaranteed
to be within a given range of the true value of e.
Write a function approxE() that takes as input a float value error and returns a value
that approximates constant e to within error. You will do this by generating the sequence
of approximation e0, e1, e2, . . . until the difference between the current approximation
and the previous one is no greater than error.
>>> approxE(0.01)
2.7166666666666663
>>> approxE(0.000000001)
2.7182818284467594

12. Implement function test() that takes as input one integer and prints 'Negative',
'Zero', or 'Positive' depending on its value.
>>> test(-3)
Negative
>>> test(0)
Zero
>>> test(3)
Positive

In [23]:
def test(n):
    if n>0:
        print('Positive')
    elif n==0:
        print('Zero')
    else:
        print('Negative')

test(-3)

Negative

In [24]:
test(0)

Zero

In [25]:
test(3)

Positive

14. Write function mult3() that takes as input a list of integers and prints only the mul-
tiples of 3, one per line.

>>> mult3([3, 1, 6, 2, 3, 9, 7, 9, 5, 4, 5])
3
6
3
9
9

In [26]:
def mult3(lst):
    for i in lst:
        if i%3==0:
            print(i)
mult3([3, 1, 6, 2, 3, 9, 7, 9, 5, 4, 5])

3
6
3
9
9

15. Implement the function vowels() that takes as input a string and prints the indexes of
all vowels in the string. Hint: A vowel can be defined as any character in string 'aeiouAEIOU'
>>> vowels('Hello WORLD')
1
4
7

In [27]:
def vowels(s):
    vowel='aeiouAEIOU'
    n=len(s)
    for i in range(n):
        if s[i] in vowel:
            print(i)
vowels('Hello WORLD')

1
4
7

In [29]:
def vowels(string):
    vowel='aeiouAEIOU'
    for n,letter in enumerate(string):
        if letter in vowel:
            print(n)
vowels('Hello WORLD')

1
4
7

16. Implement function indexes() that takes as input a word (as a string) and a one-
character letter (as a string) and returns a list of indexes at which the letter occurs in the

word.
>>> indexes('mississippi', 's')
[2, 3, 5, 6]
>>> indexes('mississippi', 'i')
[1, 4, 7, 10]
>>> indexes('mississippi', 'a')

In [2]:
def indexes(word, letter):
    lst=[]
    for n,ltr in enumerate(word):
        if ltr==letter:
            lst.append(n)
    return lst
indexes('mississippi', 's')

[2, 3, 5, 6]

In [34]:
indexes('mississippi', 'i')

[1, 4, 7, 10]

In [1]:
indexes('mississippi', 'a')

[]

17. Write function doubles() that takes as input a list of integers and outputs the integers
in the list that are exactly twice the previous integer in the list, one per line.
>>> doubles([3, 0, 1, 2, 3, 6, 2, 4, 5, 6, 5])
2
6
4

In [ ]:
def doubles(lst):
    n=len(lst)
    for i in range(n-1):
        if lst[i+1]==2*lst[i]:
            print(lst[i+1])
doubles([3, 0, 1, 2, 3, 6, 2, 4, 5, 6, 5])

2
6
4

18. Implement function four_letter() that takes as input a list of words (i.e., strings)
and returns the sublist of all four letter words in the list.
>>> four_letter(['dog', 'letter', 'stop', 'door', 'bus', 'dust'])
['stop', 'door', 'dust']

In [14]:
def four_letter(lst):
    word_lst=[]
    for word in lst:
        if len(word)==4:
            word_lst.append(word)
    return word_lst
four_letter(['dog', 'letter', 'stop', 'door', 'bus', 'dust'])

['stop', 'door', 'dust']

19. Write a function inBoth() that takes two lists and returns True if there is an item
that is common to both lists and False otherwise.
>>> inBoth([3, 2, 5, 4, 7], [9, 0, 1, 3])
True

In [36]:
def inBoth(lst1,lst2):
    for i in lst1:
        for j in lst2:
            if i==j:
                return True
    return False
inBoth([3, 2, 5, 4, 7],[9, 0, 1, 3])

True

In [37]:
inBoth([3, 2, 5, 4, 7],[9, 0, 1])

False

20. Write a function intersect() that takes two lists, each containing no duplicate val-
ues, and returns a list containing values that are present in both lists (i.e., the intersection of

the two input lists).
>>> intersect([3, 5, 1, 7, 9], [4, 2, 6, 3, 9])
[3, 9]

In [40]:
def intersect(lst1,lst2):
    lst=[]
    for i in lst1:
        for j in lst2:
            if i==j:
                lst.append(i)
    return lst
intersect([3, 5, 1, 7, 9], [4, 2, 6, 3, 9])

[3, 9]

21. Implement the function pair() that takes as input two lists of integers and one integer
n and prints the pairs of integers, one from the first input list and the other from the second
input list, that add up to n. Each pair should be printed.
>>> pair([2, 3, 4], [5, 7, 9, 12], 9)
2 7
4 5

In [42]:
def pair(lst1,lst2,int):
    for i in lst1:
        for j in lst2:
            if i+j==int:
                print(i,j)
pair([2, 3, 4], [5, 7, 9, 12], 9)

2 7
4 5

22. Implement the function pairSum() that takes as input a list of distinct integers lst
and an integer n, and prints the indexes of all pairs of values in lst that sum up to n.
>>> pairSum([7, 8, 5, 3, 4, 6], 11)
0 4
1 3
2 5

In [46]:
def pairSum(lst,int):
    n=len(lst)
    for i in range(n):
        for j in range(i,n):
            if lst[i]+lst[j]==int:
                print(i,j)
pairSum([7, 8, 5, 3, 4, 6], 11)

0 4
1 3
2 5

23. Write function pay() that takes as input an hourly wage and the number of hours an
employee worked in the last week. The function should compute and return the employee’s
pay. Overtime work should be paid in this way: Any hours beyond 40 but less than or equal
60 should be paid at 1.5 times the regular hourly wage. Any hours beyond 60 should be paid
at 2 times the regular hourly wage.
>>> pay(10, 35)
350
>>> pay(10, 45)
475.0
>>> pay(10, 61)
720.0

In [75]:
def pay(hrly_wage,hr):
    pay=40*hrly_wage
    if 40<hr<=60:
        over_time=hr-40
        over_pay=over_time*1.5*hrly_wage
        pay1=over_pay+pay
        return pay1
    elif hr>60:
        over_time1=20
        over_time2=hr-60
        over_pay1=over_time1*1.5*hrly_wage
        over_pay2=over_time2*2*hrly_wage
        pay2=over_pay1+over_pay2+pay
        return pay2
    else:
        pay3=hr*hrly_wage
        return pay3
pay(10, 45)

475.0

In [76]:
pay(10, 61)

720.0

In [77]:
pay(10, 35)

350

24. Write function case() that takes a string as input and returns 'capitalized', 'not
capitalized', or 'unknown', depending on whether the string starts with an uppercase
letter, lowercase letter, or something other than a letter in the English alphabet, respectively.
>>> case('Android')
'capitalized'
>>> case('3M')
'unknown'

In [82]:
def case(string):
    s=string[0]
    if s.isupper():
        print('capitalized')
    elif s.islower():
        print('notcapitalized')
    else:
        print('unknown')
case('Android')

capitalized

In [83]:
case('3M')

unknown

25. Implement function leap() that takes one input argument—a year—and returns True
if the year is a leap year and False otherwise. (A year is a leap year if it is divisible by 4 but
not by 100, unless it is divisible by 400 in which case it is a leap year. For example, 1700,
1800 and 1900 are not leap years but 1600 and 2000 are.)
>>> leap(2008)
True
>>> leap(1900)
False
>>> leap(2000)
True

In [93]:
def leap(year):
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False
leap(2008)

True

In [94]:
leap(1900)

False

In [95]:
leap(2000)

True

26. Rock, Paper, Scissors is a two-player game in which each player chooses one of three
items. If both players choose the same item, the game is tied. Otherwise, the rules that
determine the winner are:
(a) Rock always beats Scissors (Rock crushes Scissors)
(b) Scissors always beats Paper (Scissors cut Paper)
(c) Paper always beats Rock (Paper covers Rock)
Implement function rps() that takes the choice ('R', 'P', or 'S') of player 1 and the
choice of player 2, and returns −1 if player 1 wins, 1 if player 2 wins, or 0 if there is a tie.
>>> rps('R', 'P')
1
>>> rps('R', 'S')
-1
>>> rps('S', 'S')
0

In [99]:
def rps(c1,c2):
    if c1==c2:
        print(0)
    elif (c1=='R' and c2=='S') or (c1=='S' and c2=='P') or (c1=='P' and c2=='R'):
        print(-1)
    else:
        print(1)
rps('R', 'P')

1

In [100]:
rps('R', 'S')

-1

In [101]:
rps('S', 'S')

0

27. Write function letter2number() that takes as input a letter grade (A, B, C, D, F, possibly with a − or +) and returns the 
corresponding number grade. The numeric values for A, B, C, D, and F are 4, 3, 2, 1, 0. A + increases the number grade value by 0.3 and a −
decreases it by 0.3.
>>> letter2number('A-')
3.7
>>> letter2number('B+')
3.3
>>> letter2number('D')
1.0

In [152]:
def letter2number(grade):
    grades = ['A', 'B', 'C', 'D', 'F']
    values = [4, 3, 2, 1, 0]

    for i in range(len(grades)):
        if grade[0] == grades[i]:
            if len(grade) > 1 and grade[1] == '+':
                return values[i] + 0.3
            elif len(grade) > 1 and grade[1] == '-':
                return values[i] - 0.3
            else:
                return values[i]
letter2number('A-')

3.7

In [153]:
letter2number('B+')

3.3

In [154]:
letter2number('D')

1

28. Write function geometric() that takes a list of integers as input and returns True if
the integers in the list form a geometric sequence. A sequence a0, a1, a2, a3, a4, . . . , an−2,
an − 1 is a geometric sequence if the ratios a1/a0, a2/a1, a3/a2, a4/a3, . . . , an−1/an−2
are all equal.
>>> geometric([2, 4, 8, 16, 32, 64, 128, 256])
True
>>> geometric([2, 4, 6, 8])
False

In [117]:
def geometric(lst):
    n=len(lst)
    ratio=lst[1]/lst[0]
    for i in range(n-1):
        if lst[i+1]/lst[i]!=ratio:
            return False
    else:
        return True
geometric([2, 4, 8, 16, 32, 64, 128, 256])

True

In [118]:
geometric([2, 4, 6, 8])

False

29. Write function lastfirst() that takes one argument—a list of strings of the format
<LastName, FirstName>—and returns a list consisting two lists:
(a) A list of all the first names
(b) A list of all the last names
>>> lastfirst(['Gerber, Len', 'Fox, Kate', 'Dunn, Bob'])
[['Len', 'Kate', 'Bob'], ['Gerber', 'Fox', 'Dunn']]

In [1]:
def lastfirst(lst_name):
    first_names=[]
    last_names=[]
    for name in lst_name:
        fst_name,lst_name=name.split(",")
        first_names.append(fst_name)
        last_names.append(lst_name)
    return [first_names,last_names]
lastfirst(['Gerber, Len', 'Fox, Kate', 'Dunn, Bob'])

[['Gerber', 'Fox', 'Dunn'], [' Len', ' Kate', ' Bob']]

30. Develop the function many() that takes as input the name of a file in the current
directory (as a string) and outputs the number of words of length 1, 2, 3, and 4. Test your
function on file sample.txt.
File: sample.txt >>> many('sample.txt')
Words of length 1 : 2
Words of length 2 : 5
Words of length 3 : 1
Words of length 4 : 10

In [17]:
def many(filepath):
    with open(filepath, 'r') as f:
        data = f.readline()
        print(data)
        f.close()
    word_list =data.split()
    len1=[]
    len2=[]
    len3=[]
    len4=[]
    for word in word_list:
        if len(word)==1:
            len1.append(word)
        elif len(word)==2:
            len2.append(word)
        elif len(word)==3:
            len3.append(word)
        elif len(word)==4:
            len4.append(word)
    a=len(len1)
    b=len(len2)
    c=len(len3)
    d=len(len4)
    print('Words of length 1 :',a)
    print('Words of length 2 :',b)
    print('Words of length 3 :',c)
    print('Words of length 4 :',d)

many('sample.txt')

sneha KP

Words of length 1 : 0
Words of length 2 : 1
Words of length 3 : 0
Words of length 4 : 0

In [13]:
many('output.txt')

Words of length 1 : 0
Words of length 2 : 6
Words of length 3 : 6
Words of length 4 : 0

31. Write a function subsetSum() that takes as input a list of positive numbers and a positive number target. Your function should return True if there are three numbers in the list that add up to target. For example, if the input list is [5, 4, 10, 20, 15, 19]
and target is 38, then True should be returned since 4 + 15 + 19 = 38. However, if the input list is the same but the target value is 10, then the returned value should be False
because 10 is not the sum of any three numbers in the given list.
>>> subsetSum([5, 4, 10, 20, 15, 19], 38)
True
>>> subsetSum([5, 4, 10, 20, 15, 19], 10)
False

In [ ]:
def subsetsum(lst,n):
    for i in lst:
        for j in lst:
            for k in lst:
                if i+j+k==n:
                    return True
    else:
        return False
subsetsum([5, 4, 10, 20, 15, 19], 38)

True

In [6]:
subsetsum([5, 4, 10, 20, 15, 19], 10)

False

32. Implement function fib() that takes a nonnegative integer n as input and returns the
nth Fibonacci number.
>>> fib(0)
1
>>> fib(4)
5
>>> fib(8)
34

In [31]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    lst=[0,1]
    for i in range(n):
        lst.append(lst[i]+lst[i+1])
    print(lst[-1])

fib(8)

34

In [32]:
fib(4)

5

In [33]:
fib(0)

0

33. Implement a function mystery() that takes as input a positive integer n and answers
this question: How many times can n be halved (using integer division) before reaching 1?
This value should returned.
>>> mystery(4)
2
>>> mystery(11)
3
>>> mystery(25)
4

In [57]:
def mystery(n):
    lst=[]
    while n>=1:
        lst.append(n)
        n=n/2
    return len(lst)-1
mystery(4)

2

In [58]:
mystery(11)

3

In [59]:
mystery(25)

4

34. Write a function statement() that takes as input a list of floating-point numbers, with
positive numbers representing deposits to and negative numbers representing withdrawals
from a bank account. Your function should return a list of two floating-point numbers; the
first will be the sum of the deposits, and the second (a negative number) will be the sum of
the withdrawals.
>>> statement([30.95, -15.67, 45.56, -55.00, 43.78])
[120.29, -70.67]

In [61]:
def statement(lst):
    dpst_lst=[]
    wthdrwl_lst=[]
    for i in lst:
        if i>0:
            dpst_lst.append(i)
        else:
            wthdrwl_lst.append(i)
    sum_dpst=sum(dpst_lst)
    sum_wthdrwl=sum(wthdrwl_lst)
    stmnt_lst=[sum_dpst,sum_wthdrwl]
    return stmnt_lst
statement([30.95, -15.67, 45.56, -55.00, 43.78])

[120.29, -70.67]

35. Implement function pixels() that takes as input a two-dimensional list of nonnegative integer entries (representing the values of pixels of an image) and returns the number of entries that are positive (i.e., the number of pixels that are not dark). Your function should work on two-dimensional lists of any size.
>>> l = [[0, 156, 0, 0], [34, 0, 0, 0], [23, 123, 0, 34]]
>>> pixels(l)
5
>>> l = [[123, 56, 255], [34, 0, 0], [23, 123, 0], [3, 0, 0]]
>>> pixels(l)
7

In [62]:
def pixels(pxl_lst):
    pstv_num=[]
    for lst in pxl_lst:
        for n in lst:
            if n!=0:
                pstv_num.append(n)
    return len(pstv_num)
pixels([[0, 156, 0, 0], [34, 0, 0, 0], [23, 123, 0, 34]])

5

In [63]:
pixels([[123, 56, 255], [34, 0, 0], [23, 123, 0], [3, 0, 0]])

7

36. Implement function prime() that takes a positive integer as input and returns True
if it is a prime number and False otherwise
>>> prime(2)
True
>>> prime(17)
True
>>> prime(21)
False

In [111]:
import math
def prime(n):
    if n==1:
        return False
    elif n==2:
        return True

    for i in range(2, int(math.sqrt(n))+1):
        if n%i==0:
            return False
    else:
        return True
prime(2)

True

In [112]:
prime(17)

True

In [113]:
prime(21)

False

37. Write function mssl() (minimum sum sublist) that takes as input a list of integers.
It then computes and returns the sum of the maximum sum sublist of the input list. The
maximum sum sublist is a sublist (slice) of the input list whose sum of entries is largest.
The empty sublist is defined to have sum 0. For example, the maximum sum sublist of the
list
[4, -2, -8, 5, -2, 7, 7, 2, -6, 5]
is [5, -2, 7, 7, 2] and the sum of its entries is 19.
>>> l = [4, -2, -8, 5, -2, 7, 7, 2, -6, 5]
>>> mssl(l)
19
>>> mssl([3,4,5])
12
>>> mssl([-2,-3,-5])
0
In the last example, the maximum sum sublist is the empty sublist because all list items are
negative.

38. Write function collatz() that takes a positive integer x as input and prints the Collatz
sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to
the previous number x in the sequence:
x =   x/2 if x is even
      3x + 1 if x is odd.
Your function should stop when the sequence gets to number 1. Note: It is an open question
whether the Collatz sequence of every positive integer always ends at 1.
>>> collatz(10)
10
5
16
8
4
2
1

In [17]:
def collatz(x):
    while x!=1:
        print(x)
        if x%2==0:
            x=x//2
        else:
            x=3*x+1
    print(1)
collatz(10)

10
5
16
8
4
2
1

39. Write function exclamation() that takes as input a string and returns it with this
modification: Every vowelexclamation('argh') is replaced by four consecutive copies of itself and an exclamation mark (!) is added at the end.
>>> 
'aaaargh!'
>>> exclamation('hello')
'heeeelloooo!'

In [39]:
def exclamation(s):
    vowels='aeiouAEIOU'
    for char in s:
        if char in vowels:
            s=s.replace(char,char*4)
    s+='!'
    return s
exclamation('argh')

'aaaargh!'

In [40]:
exclamation('hello')

'heeeelloooo!'

In [32]:
s='as'
s.replace('a','aaa')

'aaas'

40. The constant π is an irrational number with value approximately 3.1415928 . . . The
precise value of π is equal to this infinite sum:
π = 4/1 − 4/3 + 4/5 − 4/7 + 4/9 − 4/11 + . . .
We can get a good approximation of π by computing the sum of the first few terms. Write
a function approxPi() that takes as input a float-value error and approximates constant π
within error by computing the preceding sum, term by term, until the difference between
the current sum and the previous sum (with one less term) is no greater than error. The
function should return the new sum.
>>> approxPi(0.01)
3.1465677471829556
>>> approxPi(0.0000001)
3.1415927035898146

41. A polynomial of degree n with coefficients a0, a1, a2, a3, . . . , an is the function
p(x) = a0 + a1x + a2 x2 + a3 ∗ x3 + . . . + an ∗ xn
This function can be evaluated at different values of x. For example, if p(x) = 1 + 2x+x2 , then p(2) = 1 + 2 ∗ 2 + 22 = 9. If p(x) = 1 + x2 + x4, then p(2) = 21 and p(3) = 91.
Write a function poly() that takes as input a list of coefficients a0, a1, a2, a3, . . . , an
of a polynomial p(x) and a value x. The function will return p(x), which is the value of the
polynomial when evaluated at x. Note that the usage below is for the three examples shown.
>>> poly([1, 2, 1], 2)
9
>>> poly([1, 0, 1, 0, 1], 2)
21
>>> poly([1, 0, 1, 0, 1], 3)
91

42.  Implement function primeFac() that takes as input a positive integer n and returns a
list containing all the numbers in the prime factorization of n. (The prime factorization of
a positive integer n is the unique list of prime numbers whose product is n.)
>>> primeFac(5)
[5]
>>> primeFac(72)
[2, 2, 2, 3, 3]

In [ ]:
def primeFac(n):
    factors=[]
    while n%2==0:
        factors.append(2)
        n=n/2
        while n%3==0:
            factors.append(3)

43. Implement function evenrow() that takes a two-dimensional list of integers and returns True if each row of the table sums up to an even number and False otherwise (i.e.,
if some row sums up to an odd number).
>>> evenrow([[1, 3], [2, 4], [0, 6]])
True
>>> evenrow([[1, 3, 2], [3, 4, 7], [0, 6, 2]])
True
>>> evenrow([[1, 3, 2], [3, 4, 7], [0, 5, 2]])
False

In [50]:
def evenrow(even_lst):
    for lst in even_lst:
        if sum(lst)%2!=0:
            return False
    return True
evenrow([[1, 3], [2, 4], [0, 6]])

True

In [51]:
evenrow([[1, 3, 2], [3, 4, 7], [0, 6, 2]])

True

In [52]:
evenrow([[1, 3, 2], [3, 4, 7], [0, 7, 2]])

False

44. A substitution cipher for the digits 0, 1, 2, 3, . . . , 9 substitutes each digit in 0, 1, 2,
3, . . . , 9 with another digit in 0, 1, 2, 3, . . . , 9. It can be represented as a 10-digit string
specifying how each digit in 0, 1, 2, 3, . . . , 9 is substituted. For example, the 10-digit string
'3941068257' specifies a substitution cipher in which digit 0 is substituted with digit 3, 1
with 9, 2 with 4, and so on. To encrypt a nonnegative integer, substitute each of its digits
with the digit specified by the encryption key.
Implement function cipher() that takes as input a 10-digit string key and a digit string
(i.e., the clear text to be encrypted) and returns the encryption of the clear text.
>>> encrypt('3941068257', '132')
'914'
>>> encrypt('3941068257', '111')
'999'

45. The function avgavg() takes as input a list whose items are lists of three numbers.
Each three-number list represents the three grades a particular student received for a course.
For example, here is an input list for a class of four students:
[[95,92,86], [66,75,54],[89, 72,100],[34,0,0]]
The function avgavg() should print, on the screen, two lines. The first line will contain a
list containing every student’s average grade. The second line will contain just one number:
the average class grade, defined as the average of all student average grades.
>>> avgavg([[95, 92, 86], [66, 75, 54],[89, 72, 100], [34, 0, 0]])
[91.0, 65.0, 87.0, 11.333333333333334]
63.5833333333

In [55]:
def avgavg(lsts):
    avg_lst=[]
    for lst in lsts:
        avg=sum(lst)/3
        avg_lst.append(avg)
    total_avg=sum(avg_lst)/len(avg_lst)
    print(avg_lst)
    print(total_avg)
avgavg([[95, 92, 86], [66, 75, 54],[89, 72, 100], [34, 0, 0]])

[91.0, 65.0, 87.0, 11.333333333333334]
63.583333333333336

46. An inversion in a sequence is a pair of entries that are out of order. For example, the
characters F and D form an inversion in string 'ABBFHDL' because F appears before D; so
do characters H and D. The total number of inversions in a sequence (i.e., the number of
pairs that are out of order) is a measure of how unsorted the sequence is. The total number
of inversions in 'ABBFHDL' is 2. Implement function inversions() that takes a sequence
(i.e., a string) of uppercase characters A through Z and returns the number of inversions in
the sequence.
>>> inversions('ABBFHDL')
2
>>> inversions('ABCD')
0
>>> inversions('DCBA')
6

47. Write function d2x() that takes as input a nonnegative integer n (in the standard
decimal representation) and an integer x between 2 and 9 and returns a string of digits that
represents the base-x representation of n.
>>> d2x(10, 2)
'1010'
>>> d2x(10, 3)
'101'
>>> d2x(10, 8)
'12'

In [64]:
def d2x(n, x):
    if n == 0:
        return "0"
    base = ""
    while n > 0:
        b = n % x
        base += str(b)
        n= n//x
    return base[::-1]  

d2x(10, 2)

'1010'

In [65]:
d2x(10, 3)

'101'

In [66]:
d2x(10, 8)

'12'

48. Let list1 and list2 be two lists of integers. We say that list1 is a sublist of list2
if the elements in list1 appear in list2 in the same order as they appear in list1, but
not necessarily consecutively. For example, if list1 is defined as
[15, 1, 100]
and list2 is defined as
[20, 15, 30, 50, 1, 100]
then list1 is a sublist of list2 because the numbers in list1 (15, 1, and 100) appear in
list2 in the same order. However, list
[15, 50, 20]
is not a sublist of list2.
Implement function sublist() that takes as input lists list1 and list2 and returns
True if list1 is a sublist of list2, and False otherwise.
>>> sublist([15, 1, 100], [20, 15, 30, 50, 1, 100])
True
>>> sublist([15, 50, 20], [20, 15, 30, 50, 1, 100])
False

In [67]:
def sublist(list1,list2):
    lst=[]
    for i in list1:
        for j in list2:
            if i==j:
                indx=list2.index(i)
                lst.append(indx)
    for k in range(len(lst)-1):
        if lst[k]>lst[k+1]:
            return False
    return True
sublist([15, 1, 100], [20, 15, 30, 50, 1, 100])

True

In [69]:
def sublist(list1,list2):
    lst=[]
    for i in list1:
        lst.append(list2.index(i))
    for k in range(len(lst)-1):
        if lst[k]>lst[k+1]:
            return False
    return True    
sublist([15, 1, 100], [20, 15, 30, 50, 1, 100])

True

In [72]:
def sublist(list1,list2):
    for i in range(len(list1)-1):
        idx1=list2.index(list1[i])
        idx2=list2.index(list1[i+1])
        if idx2<idx1:
            return False
    return True
sublist([15, 1, 100], [20, 15, 30, 50, 1, 100])

True

In [68]:
sublist([15, 50, 20], [20, 15, 30, 50, 1, 100])

False

49. The Heron method is a method the ancient Greeks used to compute the square root of
a number n. The method generates a sequence of numbers that represent better and better
approximations for √n. The first number in the sequence is an arbitrary guess; every other
number in the sequence is obtained from the previous number prev using the formula
1/2(prev +n/prev)
Write function heron() that takes as input two numbers: n and error. The function should
start with an initial guess of 1.0 for √n and then repeatedly generate better approximations
until the difference (more precisely, the absolute value of the difference) between successive
approximations is at most error.
>>> heron(4.0, 0.5)
2.05
>>> heron(4.0, 0.1)
2.000609756097561

In [80]:
a=10
b=20
condition=True
while condition:
    if b-a<5:
        condition=False
    else:
        b-=1
print(b)

14

In [ ]:
a=10
b=20

In [ ]:
def heron(n,a):
    new=0
    prev=1
    condition=True
    while condition:
        if abs(prev-new)>a:
           condition=False
        else:
            prev=new 
            

    print(new)
heron(4.0, 0.5)

0

In [1]:
def heron(n,error):
    prev=1
    condition=True
    while condition:
        new=new=(1/2)*(prev +(n/prev))
        if abs(new-prev)<=error:
            return new
        else:
            prev=new
heron(4.0, 0.5)

2.05

In [2]:
heron(4.0, 0.1)

2.000609756097561

In [3]:
heron(4.0,0.05)

2.000609756097561

In [5]:
heron(4.0,0.005)

2.0000000929222947

In [6]:
heron(9.0,0.1)

3.00009155413138